<h2>Mission Control</h2>
<button (click)="announce()">Announce mission</button>

<my-astronaut *ngFor="let astronaut of astronauts" [astronaut]="astronaut"></my-astronaut>

<h3>History</h3>
<ul>
  <li *ngFor="let event of history">{{event}}</li>
</ul>
